<section>
  <h4 class="bottom-border">Education</h3>
  <article>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h3>B.Sc. Computer Science</h3>
      </div>
      <div class="col-sm-6 col-xs-12 text-bottom text-right-or-underneath more-characters">
        <h4>September 2012 - August 2015</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span>Portland State University</span>
      </div>
      <div class="col-xs-6 text-right">
        <span>Portland, OR</span>
      </div>
    </div>
    <p>
      Stuided a varity of topics including:
      <ul>
        <li>automata theory</li>
        <li>operating systems design</li>
        <li>human computer interaction</li>
        <li>algorithm analysis and complexity</li>
        <li>compiler and programming language design</li>
        <li>non-traditional models of programming: logic, functional</li>
      </ul>
    </p>
    <p>
      For my capstone project I worked with <a href="https://www.mozilla.org">Mozilla</a> to build a <a href="https://hacks.mozilla.org/2015/09/backing-up-user-data-on-firefox-os/">Firefox OS Backup and Restore library</a>.
    </p>
  </article>
</section>
