<section>
  <h4 class="bottom-border">Employment</h4>
  <article>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h3>Lead Software Engineer</h3>
      </div>
      <div class="col-sm-6 col-xs-12 text-bottom text-right-or-underneath">
        <h4>November 2015 - Present</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span>Carnegie Museums of Pittsburgh</span>
      </div>
      <div class="col-xs-6 text-right">
        <span>Pittsburgh, PA</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <span>Selected Projects</span>
      </div>
      <div class="col-xs-9 text-right">
        <ul class="list-unstyled">
          <li><a href="https://itunes.apple.com/us/app/dawn-chorus/id1146931666?mt=8">Dawn Chorus</a></li>
          <li><a href="https://itunes.apple.com/us/app/the-warhol-out-loud/id1103407119?mt=8">Warhol: Out Loud</a></li>
          <li><a href="https://itunes.apple.com/us/app/carnegie-museum-of-art/id700992890?mt=8">CMOA app</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Achievements</span>
      </div>
      <div class="col-xs-9">
        <ul>
          <li>Lead a team of developers and domain experts to deliver high-quality software experiences and tools to better position the Museum and its knowledge in a high-tech and rapidly changing world.</li>
          <li>Helped assemble modern Software Engineering standards across projects: Agile Software Development Methodologies, Source Control, Package Mangement, User testing, etc.</li>
          <li>Trained developers to on Mobile and Web Development and modern Software Engineering practices.</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Tools &amp; Technologies</span>
      </div>
      <div class="col-xs-9 extra-padding-left">
        Git, Swift, Objective-C, C, React, React Native, Redux, HTML, CSS, JS, iBeacons, Sketch, Agile Development
      </div>
    </div>
  </article>
  <br>
  <article>
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <h3>Software Engineer</h3>
      </div>
      <div class="col-sm-6 col-xs-12 text-bottom text-right-or-underneath">
        <h4>June 2013 - September 2015</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span>Vernier Software &amp; Technology</span>
      </div>
      <div class="col-xs-6 text-right">
        <span>Beaverton, OR</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <span>Selected Projects</span>
      </div>
      <div class="col-xs-9 text-right">
        <ul class="list-unstyled">
          <li><a href="https://itunes.apple.com/us/app/vernier-video-physics/id389784247?mt=8">Vernier Video Physics</a></li>
          <li><a href="https://itunes.apple.com/us/app/vernier-go-wireless-temp/id815941976?ls=1&mt=8">Vernier Go Wireless</a></li>
          <li><a href="https://github.com/VernierSoftwareTechnology/UIAlertWrapper">UIAlertViewWrapper</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Achievements</span>
      </div>
      <div class="col-xs-9">
        <ul>
          <li>Implemented an object tracking algorithm into Vernier Video Physics</li>
          <li>Instrumental in designing and developing a new version of Go Wireless; which included: designing mock ups, A/B testing, usability interviews, prototyping and writing design documents</li>
          <li>Worked in a team to develop and maintain Vernier’s wide range of iOS apps</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Tools &amp; Technologies</span>
      </div>
      <div class="col-xs-9 extra-padding-left">
        Git, Objective-C, C++, C, Swift, Cocoa Touch, OpenCV, OpenGL ES, HTML, CSS, JS, Polymer, Sketch, Agile Development, Lean UX
      </div>
    </div>
  </article>
  <br>
  <article>
    <div class="row">
      <div class="col-sm-6">
        <h3>Software Contractor</h3>
      </div>
      <div class="col-sm-6 col-xs-12 text-bottom text-right-or-underneath">
        <h4>September 2013 - Present</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <span>Self Employed</span>
      </div>
      <div class="col-xs-6 text-right">
        <span>Portland, OR &amp; Pittsburgh, PA</span>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">
        <span>Selected Projects</span>
      </div>
      <div class="col-xs-9 text-right">
        <ul class="list-unstyled">
          <li><a href="https://www.goboxpdx.com/">GO Box PDX</a> &amp; <a href="https://www.goboxsfbay.com/">GO Box SF Bay</a></li>
          <li><a href="https://itunes.apple.com/us/app/go-box-mobile/id947991155?mt=8&ign-mpt=uo%3D4">GO Box iOS</a> &amp; <a href="https://play.google.com/store/apps/details?id=com.rubennic.gobox">Android app</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Achievements</span>
      </div>
      <div class="col-xs-9">
        <ul>
          <li>Managed development of the GO Box mobile app with a developer and designer working under me</li>
          <li>Developed a customer and inventory management system, admin website and API, for GO Box PDX and GO Box SF Bay</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-3">
        <span>Tools &amp; Technologies</span>
      </div>
      <div class="col-xs-9 extra-padding-left">
        Git, Objective-C, HTML, CSS, Bootstrap, JS, jQuery, Cordova, Python, Flask, PHP, Wordpress, MySQL, Stripe, Apache
      </div>
    </div>
  </article>
</section>
