<nav class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
        <a
        {% if page.title == 'Home' %}
          class="active navbar-brand"
        {% else %}
          class="navbar-brand" href="/"
        {% endif %}
        >
          <b>Home</b>
        </a>
      </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
          {% if page.title == 'Writing' %}
            class="active"
          {% else %}
            href="{{ site.baseurl }}blog.html"
          {% endif %}
          >
            WRITING
          </a>
        </li>

        <li>
          <a
          {% if page.title == 'Projects' %}
            class="active"
          {% else %}
            href="{{ site.baseurl }}projects.html"
          {% endif %}
          >
            PROJECTS
          </a>
        </li>

        <li>
          <a
          {% if page.title == 'Resume' %}
            class="active"
          {% else %}
            href="{{ site.baseurl }}resume.html"
          {% endif %}
          >
            RESUME
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>