<div class="container">
  <div class="panel panel-default col-sm-offset-1 col-sm-10">
    <div class="panel-body">
      <div class="project bottom-padding-small">
        <h5 class="bottom-border">
          <strong>
            <a href="https://github.com/CMP-Studio/DawnChorus">
              Dawn Chorus
            </a>
          </strong>
        </h5>
        <p>
          I was the project manager and helped guide the architecture of Dawn Chorus. Dawn Chorus is a bird alarm clock
          developed by Carnegie Museum of Natural History and Innovation Studio. This artfully designed app is a
          calming, nature-inspired alternative to your usual blaring alarm.
        </p>
        <ul>
          <label>Awards & Press</label>
          <li>
            <a href="static/img/Dawn-Chorus.png">
              Featured on the iOS App Store during the week of November 26 2017
            </a>
          </li>
          <li>
            <a href="http://mentalfloss.com/article/94372/wake-chorus-bird-songs-mobile-alarm-app">
              Mental Floss
            </a>
          </li>
          <li>
            <a href="https://hyperallergic.com/371399/an-alarm-clock-of-bird-songs-culled-from-a-museums-archive/">
              HYPERALLERGIC
            </a>
          </li>
        </ul>
      </div>
      <div class="project bottom-padding-small">
        <h5 class="bottom-border">
          <strong>
            <a href="https://github.com/CMP-Studio/TheWarholOutLoud">
              The Warhol: Out Loud
            </a>
          </strong>
        </h5>
        <p>
          I was the lead developer on the Warhol: Out Loud which is a museum audio guide for people who hate audio
          guides. All of the audio is short form and the app slowly rearranges content based on the previous content
          that you have listened to.
        </p>
        <ul>
          <label>Awards & Press</label>
          <li>
            <a
              href="http://aam-us.org/about-us/grants-awards-and-competitions/muse-awards/past-award-winners/2017-muse-awards">
              2017 AAM MUSE Gold Award in Mobile Apps Category
            </a>
          </li>
          <li>
            <a href="https://www.nytimes.com/2016/10/30/arts/design/technology-invites-a-deep-dive-into-art.html?_r=0">
              New York Times
            </a>
          </li>
        </ul>
      </div>
      <div class="project bottom-padding-small">
          <h5 class="bottom-border">
            <strong>
              <a href="https://marketplace.visualstudio.com/items?itemName=rubennic.codeflow#overview">
                codeflow
              </a>
            </strong>
          </h5>
          <p>
            Typing speed controlled volume to increase your flow. codeflow aims to keep you in the state of flow by tying
            your music's volume to your typing speed. So if your really in the state of flow typing lots of characters
            hopefully the sound of your music's volume increasing will keep you in that state of flow.
          </p>
        </div>
      <div class="project bottom-padding-small">
        <h5 class="bottom-border">
          <strong>
            <a href="https://github.com/CMP-Studio/WeAreNature">
              We Are Nature
            </a>
          </strong>
        </h5>
        <p>
          Designed and wrote the backend for an interactive voting and committing to a future action exhibition. The
          goal of the exhibition was to help reduce the visitors carbon footprint through small lifestyles changes with
          a 6 month out email check-in. The backend was built using AWS lambda and websockets to facilitate a real time
          voting animation. I also helped with the various other interactive elements of the exhibition.
        </p>
        <ul>
          <label>Awards & Press</label>
          <li>
            <a
              href="https://www.pghcitypaper.com/pittsburgh/we-are-nature-living-in-the-anthropocene-at-the-carnegie-museum-of-natural-history/Content?oid=6064875">
              Pittsburgh City Paper
            </a>
          </li>
          <ul>
      </div>
    </div>
  </div>
</div>