<div class="container">
  <div class="panel panel-default col-sm-offset-1 col-sm-10">
    <div class="panel-body">
      <div class="project">
        <h5>
          <strong>
            <a href="https://github.com/CMP-Studio/DawnChorus">
              Dawn Chorus
            </a>
          </strong>
        </h5>
        <p>
          I was project manager and helped guide the architecture of Dawn Chorus. Dawn Chorus is a bird alarm clock developed by Carnegie Museum of Natural History and Innovation Studio. This artfully designed app is a calming, nature-inspired alternative to your usual blaring alarm.
        </p>
        <ul>
          <label>Awards & Press</label>
          <li>
            <a href="static/img/Dawn-Chorus.png">
              Featured on the iOS App Store during the week of November 26 2017
            </a>
          </li>
          <li>
            <a href="http://mentalfloss.com/article/94372/wake-chorus-bird-songs-mobile-alarm-app">
              Mental Floss
            </a>
          </li>
          <li>
            <a href="https://hyperallergic.com/371399/an-alarm-clock-of-bird-songs-culled-from-a-museums-archive/">
              HYPERALLERGIC
            </a>
          </li>
        </ul>
      </div>
      <div class="project">
        <h5>
          <strong>
            <a href="https://github.com/CMP-Studio/TheWarholOutLoud">
              The Warhol: Out Loud
            </a>
          </strong>
        </h5>
        <p>
          I was lead developer on the Warhol: Out Loud which is a museum audio guide for people who hate audio guides. All of the audio is short form and the app slowly rearranges content based on the previous content that you have listened to.
        </p>
        <ul>
          <label>Awards & Press</label>
          <li>
            <a href="http://aam-us.org/about-us/grants-awards-and-competitions/muse-awards/past-award-winners/2017-muse-awards">
              2017 AAM MUSE Gold Award in Mobile Apps Category
            </a>
          </li>
          <li>
            <a href="https://www.nytimes.com/2016/10/30/arts/design/technology-invites-a-deep-dive-into-art.html?_r=0">
              New York Times
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
