/* Main page with stikky-footer
-------------------------------------------------- */
html,
body {
  height: 100%;
  background-color: #F5F5F5;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid #6b6b6b;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}
.panel {
  background-color: #F5F5F5;
  box-shadow: none;
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #6b6b6b;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-text {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #6b6b6b;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #6b6b6b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #6b6b6b;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #6b6b6b;
}
.navbar a.navbar-brand {
  position: relative;
}
.navbar a.active:after {
    content: "";
    color: transparent;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 6px;
    bottom: 6px;
    border: 1px solid #333332;
}
.navbar-default .navbar-link {
  color: #6b6b6b;
}
.navbar-default .navbar-link:hover {
  color: #6b6b6b;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6b6b6b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6b6b6b;
    background-color: #ffffff;
  }
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}
.container a {
  color: #9d9d9d;
}
.container .social a:hover {
  background: none;
}
.container a:hover {
  color: #9d9d9d;
  text-decoration: none;
  background: -webkit-linear-gradient(#fff,#fff),-webkit-linear-gradient(#fff,#fff),-webkit-linear-gradient(#333332,#333332);
  background: -moz-linear-gradient(#fff,#fff),-moz-linear-gradient(#fff,#fff),-moz-linear-gradient(#333332,#333332);
  background: -o-linear-gradient(#fff,#fff),-o-linear-gradient(#fff,#fff),-o-linear-gradient(#333332,#333332);
  background: -ms-linear-gradient(#fff,#fff),-ms-linear-gradient(#fff,#fff),-ms-linear-gradient(#333332,#333332);
  background: linear-gradient(#fff,#fff),linear-gradient(#fff,#fff),linear-gradient(#333332,#333332);
  -webkit-background-size: .05em 1px,.05em 1px,1px 1px;
  -moz-background-size: .05em 1px,.05em 1px,1px 1px;
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  text-shadow: .03em 0 #fff,-.03em 0 #fff,0 .03em #fff,0 -.03em #fff,.06em 0 #fff,-.06em 0 #fff,.09em 0 #fff,-.09em 0 #fff,.12em 0 #fff,-.12em 0 #fff,.15em 0 #fff,-.15em 0 #fff;
  background-position: 0 87%,100% 87%,0 87%;
}
.img-circle  {
  width: 190px;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  margin-top: 30px;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: #9d9d9d;
}
.panel-default h4 a:hover, h5 a:hover {
  color: #9d9d9d;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
}
.social .center-margin {
  margin-left: 25px;
  margin-right: 25px;
}
.social-icon {
  width: 32px;
}
.social-icon:hover {
  -webkit-filter: brightness(0.25); 
  filter: brightness(0.25);
}
.blog-header {
  margin-bottom: 20px;
}
.blog-post {
  padding-top: 15px;
}
.blog-title {
  padding-top: 2px;
}
.no-margin {
  margin: 0;
}
.no-indent {
  text-indent: 0;
}
p {
  text-indent: 1em;
}
.row {
    position: relative;
}
.text-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}
@media (max-width: 475px) {
  .text-bottom {
    position: relative;
  }
}
.strikethrough {
  position: relative;
}
.strikethrough:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1.85px solid;
  border-color: inherit;

  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
}
/* Resume 
-------------------------------------------------- */
.resume .social-icon {
  width: 12px;
  vertical-align: initial;
}
@media (min-width: 768px) {
  .resume .img-circle  {
    width: 150px;
  }
}
.resume section {
  margin-bottom: 10px;
}
.resume .bottom-border {
  border-bottom: 1px solid gray;
}
.resume .h1, .h2, .h3, h1, h2, h3, .h4, .h5, .h6, h4, h5, h6{
  margin: 0px;
}
.resume .text-right-or-underneath {
  text-align: right;
}
.resume .extra-padding-left {
  padding-left: 55px;
}
@media (max-width: 475px) {
  .resume .text-right-or-underneath {
    text-align: left;
  }
}
@media (max-width: 525px) {
  .resume .text-right-or-underneath.more-characters {
    text-align: left;
    position: relative;
  }
}
.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
/* Post
-------------------------------------------------- */
/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: #6b6b6b;
}
