body {
    overflow: hidden;
    background-color: #0A0A0A;
    padding: 0;
    margin: 0;
    max-height: 768px; /* ipad mini 1 screen res */
}

#errors {
    display: none;
    padding: 28px;
    font-size: 14px;
    overflow-y: auto;
    height: 768px;
    color: white;
}

@media screen and (orientation: landscape) {
    body {
        width: 100vh;
        height: 100vw;
        transform-origin: 0 0;
    }
}

body.rotation-90 {
    transform: rotate(90deg) translateY(-100%);
}
body.rotation90 {
    transform: rotate(-90deg) translateX(-100%);
}